<?xml version="1.0"?>
<Configuration>
  <Properties>
    <GitLocation>C:\Program Files\Git\usr\bin\bash.exe</GitLocation>
    <CommandPromptLocation>C:\Windows\SysWOW64\cmd.exe</CommandPromptLocation>
	  <RepositoryLocation>c:\Repos\uat</RepositoryLocation>
    <RemoteRepositoryName>origin</RemoteRepositoryName>
	  <User>Jessica Birkbeck</User>
    <YouTrackBaseURL>youtrack:9111</YouTrackBaseURL>
    <GitTimeoutMilliseconds></GitTimeoutMilliseconds>
  </Properties>
</Configuration>